/*@media pour responsive*/
body {
  background-color: #D1E4F9;
}


@media screen and (min-width : 320px){
 body{
   background-color: #FFF;
 }
}

@media screen and (min-width : 640px){
 body{
   background-color: #CEF4FF;
 }
}
@media screen and (min-width : 800px){
 body{
   background-color: #A5C2E2;
 }
}
@media screen and (min-width : 1024px){
 body{
   background-color:  #D1E4F9;
 }
}
