/*@media pour responsive*/
body {
  background-color: #FFF;
}


@media screen and (min-width : 320px){
 body{
   background-color: #EAE8E3;
 }
}

@media screen and (min-width : 640px){
 body{
   background-color: #D9D7D7;
 }
}
@media screen and (min-width : 800px){
 body{
   background-color: #E0E7ED;
 }
}
@media screen and (min-width : 1024px){
 body{
   background-color:  #FFF;;
 }
}
