header nav {
  background-color: #FFF;
  padding: 20px;
  position: relative;
  width: 100%;
}

header nav ul{
  padding: 0;
  text-align: center;
}

header nav ul li {
  display : inline-block;
  position: relative;
  margin: 0px 10px;
  line-height: 01.4;
  margin-top: 1.5px;
}

header nav ul li ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:rgba(217, 215, 215, 0.7);
  padding: 5px;
  margin-bottom: 1.5px;
  line-height: 01.2;
}

header nav > ul li:hover ul{
  display: block;
}

header nav ul li ul li {
  display: block;
	margin: 15px 0px;
}

.selected{
  text-decoration: underline;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: #205787;
}

footer img{
  height: 30vh;
  margin-right: 40px;
}

footer nav {
  margin-left: 40px;
}
