#cover--background-img {
  background-image: url("../images/macaques-crabiers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 80vw;
  min-height: 80vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#cover--background-img--title {
  margin-bottom: 10vw;
  background-color: rgba(72, 8, 201, 0.5);
  padding: 3vw;
}

#cover--fixed-img{
  background-image: url("../images/orang-outan-5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 90vw;
  height: 60vw;
  margin: 3vw 0vw;
}
.cover--texte {
  text-align: center;
}
