h2 {
  text-align: center;
}

p {
  text-align: center;
}

#section1 {
  background-image: url("../images/section1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 80vw;
  min-height: 40vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#section1 h2 {
  background-color: rgba(99, 22, 19, 0.6);
  padding: 5vw;
}

#section1 p {
  background-color: rgba(153, 76, 13, 0.6);
  padding: 2vw;
}

#section2{
  background-image: url("../images/orang-outan.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 50vw;
  height: 60vw;
  margin: 3vw 0vw;
}
