#flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex img {
  margin: 4px;
  max-width: 400px;
}

.flex p{
  max-width: 400px;
  margin: 4px;
  columns: 3;
  line-height: 1.2em;
}

/*#flex_solo{
  order: 8;
}*/
