#flex-item--total {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-item img {
  margin: 4px;
  max-width: 400px;
  border-radius: 15px;
}

.flex-item p{
  max-width: 400px;
  margin: 4px;
  columns: 3;
  line-height: 1.2em;
}
