.gridLayout-item--total{
  margin: 4vw 4vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  justify-content: center;
}

.gridLayout-item img{
  max-width: 100%;
  object-fit: cover;
  justify-content: center;
  align-content: center;
}

.gridLayout-button {
  display: block;
  text-align: center;
  padding: 12px 12px;
  border-radius: 44px;
  background: #4808c9;
  margin-left: auto;
  margin-right: auto;
}

.gridLayout-button:hover {
  filter: brightness(75%);
}

.gridLayout-button strong{
  color: #FFF;
  text-decoration: none;
}
