.gridLayout-item--total{
  margin: 4vw 4vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(200px, auto);
  grid-column-gap: 2%;
  grid-row-gap: 2%;
}

.gridLayout-item {
  display: grid;
  grid-template-rows: repeat(50px, 4);
  background-color: #FFF;
  border-color: #4808c9;
  border-radius: 15px;
  padding-bottom: 15px;
  box-shadow: 0 0 16px rgb(198, 209, 230, 1);
}

.gridLayout-item img{
  width: 100%;
  height: 20vw;
  object-fit: cover;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  margin-bottom: 5px;
}

.gridLayout-item--texte{
  width: 100%;
  height: 80%;
}

.gridLayout-button {
  align-self: flex-end;
  background-color: #4808c9;
  border-radius: 44px;
  height: 50px;
  width: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.gridLayout-button:hover {
  filter: brightness(75%);
}

.gridLayout--texte {
  margin-top: 50px;
}
