#image_presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/section1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vw;
}

#total_home_section{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.home_section {
  margin: 2vw;
  background-color: #474545;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_section h3 {
  text-align: center;
  background-color: rgba(50, 136, 211, 0.5);
  padding: 20px;
}
#section_picture{
  background-image: url('../images/gorille-large.jpg');
}

#section_object-fit{
  background-image: url('../images/section5.jpg');
}

#section_width{
  background-image: url('../images/section1.jpg');
}

#section_cover{
  background-image: url('../images/orang-outan-large.jpg');
}

#section_flexbox{
  background-image: url('../images/singes-jumeaux.jpg');
}

#section_grid{
  background-image: url('../images/singe-ciel.jpg');
}

#section_transforms{
  background-image: url('../images/singe-branche.jpg');
}
