#home-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/macaque.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vw;
}

#home-section--total{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.home-section {
  margin: 2vw;
  background-color: #474545;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.home-section:hover {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 15px;
}

.home-section h3 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
}
#section-picture{
  background-image: url('../images/gorille-1.jpg');
}

#section-objectFit{
  background-image: url('../images/orang-outan-1.jpg');
}

#section-width{
  background-image: url('../images/macaques-crabiers.jpg');
}

#section-cover{
  background-image: url('../images/maki.jpg');
}

#section-flexbox{
  background-image: url('../images/orang-outan-3.jpg');
}

#section-grid{
  background-image: url('../images/gorille-2.jpg');
}

#section-transforms{
  background-image: url('../images/macaque.jpg');
}
